Repository kubiyabot/agentic_ci_cd_examples: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flaky-tests, run-smart-selection

.circleci/config.yml:

version: 2.1
setup: true

# =============================================================================
# Setup Phase - Path Filtering for Conditional Pipeline Triggers
# =============================================================================
#
# This config detects which folders changed and triggers the appropriate
# workflows in continue_config.yml
#
# Prerequisites:
# 1. Enable "Dynamic config using setup workflows" in Project Settings → Advanced
# 2. Create 'kubiya-secrets' context with KUBIYA_API_KEY (and optional KUBIYA_AGENT_UUID)
#
# Behavior:
# - Changes in fleaky-tests-circleci/ → runs flaky test workflows
# - Changes in smart-test-selection/ → runs smart selection workflows
# - Changes in both → runs both workflows
# - Changes in root files only → no workflows run
# =============================================================================

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            fleaky-tests-circleci/.* run-flaky-tests true
            smart-test-selection/.* run-smart-selection true

Fix Python version issue in CircleCI Kubiya jobs
  .circleci/continue_config.yml
Due: none

Trigger flaky test pipeline for CI validation
  fleaky-tests-circleci/README.md
Due: run-flaky-tests

Fix path-filtering orb Python version issue
  .circleci/config.yml
Due: none

Trigger flaky test pipeline with Python 3.11 fix
  fleaky-tests-circleci/README.md
Due: run-flaky-tests

Switch to Kubiya planner mode (no agent UUID required)
  .circleci/continue_config.yml
Due: none

Trigger flaky test pipeline with planner mode
  fleaky-tests-circleci/README.md
Due: run-flaky-tests

Trigger pipeline after fixing API key in context
  fleaky-tests-circleci/README.md
Due: run-flaky-tests

Add debug check for KUBIYA_API_KEY in CI
  .circleci/continue_config.yml
Due: none

Trigger pipeline with API key debug check
  fleaky-tests-circleci/README.md
Due: run-flaky-tests

Add more debug info for API key and re-store secret
  .circleci/continue_config.yml
Due: none

Trigger pipeline after re-storing API key
  fleaky-tests-circleci/README.md
Due: run-flaky-tests

Trigger pipeline with UI-updated secret
  fleaky-tests-circleci/README.md
Due: run-flaky-tests

Add 4 new CI/CD use cases with Cognitive Memory integration
  Makefile
  PRD.md
  README.md
  build-artifact-analyzer/.circleci/config.yml
  build-artifact-analyzer/README.md
  build-artifact-analyzer/__tests__/unit/build-metrics.test.js
  build-artifact-analyzer/__tests__/unit/coverage.test.js
  build-artifact-analyzer/__tests__/unit/test-results.test.js
  build-artifact-analyzer/package.json
  build-artifact-analyzer/src/analyzers/build-metrics.js
  build-artifact-analyzer/src/analyzers/coverage.js
  build-artifact-analyzer/src/analyzers/test-results.js
  cross-repo-knowledge-share/.circleci/config.yml
  cross-repo-knowledge-share/README.md
  cross-repo-knowledge-share/__tests__/unit/detector.test.js
  cross-repo-knowledge-share/__tests__/unit/matcher.test.js
  cross-repo-knowledge-share/package.json
  cross-repo-knowledge-share/src/learnings/matcher.js
  cross-repo-knowledge-share/src/patterns/detector.js
  incident-learning-pipeline/.circleci/config.yml
  incident-learning-pipeline/README.md
  incident-learning-pipeline/__tests__/integration/services.test.js
  incident-learning-pipeline/__tests__/unit/api-client.test.js
  incident-learning-pipeline/__tests__/unit/cache.test.js
  incident-learning-pipeline/__tests__/unit/database.test.js
  incident-learning-pipeline/package.json
  incident-learning-pipeline/src/services/api-client.js
  incident-learning-pipeline/src/services/cache.js
  incident-learning-pipeline/src/services/database.js
  performance-regression-detector/.circleci/config.yml
  performance-regression-detector/README.md
  performance-regression-detector/__tests__/integration/full-benchmark.test.js
  performance-regression-detector/__tests__/unit/operations.test.js
  performance-regression-detector/__tests__/unit/runner.test.js
  performance-regression-detector/package.json
  performance-regression-detector/src/benchmarks/operations.js
  performance-regression-detector/src/benchmarks/runner.js
Due: none

Simplify agent prompts by removing explicit store_memory instructions
  build-artifact-analyzer/.circleci/config.yml
  cross-repo-knowledge-share/.circleci/config.yml
  incident-learning-pipeline/.circleci/config.yml
  performance-regression-detector/.circleci/config.yml
Due: none

Add generate_usecase.sh script for automated use case creation
  Makefile
  README.md
  generate_usecase.sh
Due: none

Update README with generate_usecase.sh example output
  README.md
  generate_usecase.sh
Due: none

Improve README generator section - clearer and more user-friendly
  README.md
Due: none

Fix CircleCI configs to use kubiya exec without agent UUID
  fleaky-tests-circleci/.circleci/config.yml
  smart-test-selection/.circleci/config.yml
Due: run-flaky-tests, run-smart-selection

Add path filtering for all 6 use cases
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Trigger incident-learning-pipeline workflow
  incident-learning-pipeline/README.md
Due: none

Add package-lock.json for incident-learning-pipeline
  incident-learning-pipeline/package-lock.json
Due: none

Trigger all use case workflows for E2E validation
  build-artifact-analyzer/README.md
  build-artifact-analyzer/package-lock.json
  cross-repo-knowledge-share/README.md
  cross-repo-knowledge-share/package-lock.json
  fleaky-tests-circleci/README.md
  performance-regression-detector/README.md
  performance-regression-detector/package-lock.json
  smart-test-selection/README.md
Due: run-flaky-tests, run-smart-selection

Add CI/CD automation disclaimer to all kubiya exec prompts
  .circleci/continue_config.yml
Due: none

added flaky tests sub example
  flakyTests/.circleci/config.yml
  flakyTests/.gitignore
  flakyTests/.teamcity/project-config.xml
  flakyTests/.teamcity/settings.kts
  flakyTests/FLAKY_TEST_ANALYSIS.md
  flakyTests/Jenkinsfile
  flakyTests/Jenkinsfile.improved
  flakyTests/PR_DOCUMENTATION.md
  flakyTests/PULL_REQUEST_SUMMARY.md
  flakyTests/README.md
  flakyTests/SCREENSHOT_REQUIREMENTS.md
  flakyTests/docker-compose.yml
  flakyTests/docs/FLAKY_TEST_REMEDIATION.md
  flakyTests/docs/QUICK_REFERENCE.md
  flakyTests/generate-flaky-patterns.sh
  flakyTests/jest.config.js
  flakyTests/jest.enhanced.config.js
  flakyTests/package-lock.json
  flakyTests/package.json
  flakyTests/screenshot-guide.sh
  flakyTests/setup-teamcity.sh
  flakyTests/setup.sh
  flakyTests/teamcity-integration.sh
  flakyTests/teamcity-ui-mockup.html
  flakyTests/tests/enhanced-fixed-tests.test.js
  flakyTests/tests/fixed-flaky-tests.test.js
  flakyTests/tests/flaky-tests.test.js
  flakyTests/tests/regression-tests.test.js
  flakyTests/tests/setup/deterministic-test-setup.js
  flakyTests/tests/setup/flaky-test-detector.js
  flakyTests/tests/setup/jest.setup.js
  flakyTests/tests/stable-tests.test.js
  flakyTests/tests/teamcity-pattern-tests.test.js
Due: none

🔧 Add comprehensive flaky test analysis and fix recommendations
  FLAKY_TEST_ANALYSIS_AND_FIXES.md
Due: none

🔧 Comprehensive flaky test analysis and remediation with visual documentation
  flakyTests/.github/workflows/enhanced-testing.yml
  flakyTests/FLAKY_TEST_ANALYSIS.md
  flakyTests/README.md
  flakyTests/__tests__/environment-dependencies.test.js
  flakyTests/__tests__/fixed-random-dependencies.test.js
  flakyTests/__tests__/shared-state-dependencies.test.js
  flakyTests/__tests__/timing-dependencies.test.js
  flakyTests/jest.config.js
  flakyTests/jest.setup.js
  flakyTests/package-lock.json
  flakyTests/package.json
  flakyTests/test-results/junit.xml
Due: none

📚 Add comprehensive flaky test analysis documentation
  flakyTests/COMPREHENSIVE_FLAKY_TEST_PATTERNS.md
  flakyTests/TECHNICAL_IMPLEMENTATION_GUIDE.md
Due: none

feat: Add vulnerability-scanner use case with Kubiya agentic scanning
  vulnerability-scanner/.github/workflows/vulnerability-scan.yml
  vulnerability-scanner/.gitignore
  vulnerability-scanner/README.md
  vulnerability-scanner/__tests__/unit/report-analyzer.test.js
  vulnerability-scanner/__tests__/unit/utils.test.js
  vulnerability-scanner/jest.config.js
  vulnerability-scanner/package-lock.json
  vulnerability-scanner/package.json
  vulnerability-scanner/src/index.js
  vulnerability-scanner/src/report-analyzer.js
  vulnerability-scanner/src/utils.js
Due: none

fix: Move vulnerability-scanner workflow to root .github/workflows
  .github/workflows/vulnerability-scan.yml
Due: none

fix: Combine Kubiya CLI install and exec in single step
  .github/workflows/vulnerability-scan.yml
Due: none

fix: Simplify Kubiya prompt to avoid 502 errors
  .github/workflows/vulnerability-scan.yml
Due: none

fix: Clarify agent prompt - tools pre-installed, code already cloned
  .github/workflows/vulnerability-scan.yml
Due: none

Security: Fix CVEs and vulnerabilities (22 issues resolved)
  SECURITY_REPORT.md
  build-artifact-analyzer/package-lock.json
  cross-repo-knowledge-share/package-lock.json
  flakyTests/docker-compose.yml
  fleaky-tests-circleci/package-lock.json
  fleaky-tests-circleci/package.json
  incident-learning-pipeline/package-lock.json
  performance-regression-detector/package-lock.json
  smart-test-selection/package-lock.json
  vulnerability-scanner/package-lock.json
  vulnerability-scanner/package.json
Due: run-flaky-tests, run-smart-selection
